@page
@model Pizza_dotnet.Pages.OrdersModel
@{
}

<div class="container text-center">
    <h3>Our Orders</h3>
    <div class="row">
        @foreach (var order in Model.Orders)
        {
            <div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="img mb-4" style="background-image: url(images/person_1.jpg);"></div>
                    <div class="info text-center">
                        <h3>@order.Id</h3>
                        <span class="position">
                            <p>Quantity: @order.Quantity</p>
                        </span>
                        <div class="text">
                            <p>@order.PizzaName</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

